<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Protected</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f3f4f6;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: 50px;
      }

      .card {
        width: 100%;
        max-width: 400px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      .form-control {
        border-radius: 10px;
      }

      .btn-primary {
        width: 100%;
        background-color: #4f46e5;
        border-color: #4f46e5;
        border-radius: 10px;
      }

      .btn-delete {
        width: 100%;
        background-color: #f33939;
        border-color: #f33939;
        border-radius: 10px;
      }

      .btn-primary:hover {
        background-color: #4038cc;
        border-color: #4038cc;
      }

      .alert {
        border-radius: 10px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="card mb-4">
        <div class="card-body">
          <% if (typeof username !== 'undefined') { %>
          <div class="mb-4">
            <h2 class="text-center text-3xl font-bold mb-4">Welcome <%= username %></h2>
            <form action="/logout" method="POST" class="mt-2">
              <button
                type="submit"
                class="btn btn-delete w-full py-2 px-4 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
              >
                Close Session
              </button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
